@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgba(42, 233, 224, 0.432);
}
header{
    background-color: lightseagreen;
    margin-bottom: 10px;
    
}
header > h1{
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.61);
    background-color: #18888257;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.555);
    width: max-content;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
}
menu{
    display: none;
    margin-top: 10px;
}
span#men{
    display: block;
    text-align: center;
    background-color: lightseagreen;
    color: #188882;
    margin-top: 30px;
    padding: 5px;
    cursor: pointer;
}
span#men:hover{
    background-color: #18888257;
    color: white;
}
menu > ul{
    list-style-type: none;
}
menu li{
    text-align: center;
}
menu > ul > li > a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 8px;
    background-color: #18888257;
}
menu > ul > li > a:hover{
    background-color: #188882;
}

main{
    display: block;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 88vw;
}
main > h2{
    text-align: center;
    padding: 10px;
}
main > p{
    text-indent: 30px;
    margin-bottom: 20px;
    line-height: 1.5em;
    text-align: justify;
}
footer{
    background-color: lightseagreen;
    padding: 10px;
    margin-top: 10px;
}
footer > p{
    text-align: center;
    color: white;
}