@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
html, body{
    background-color: lightgray;
}

header{
    background-color: gray;
}
header > h1{
    text-align: center;
    padding: 10px;
 }

menu{
    display: block;
}
menu ul{
    list-style-type: none;
}
 menu > ul > li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    background-color: rgb(90, 90, 90);
    border-top: 2px solid gray;
 }
 menu > ul > li > a:hover{
    background-color: rgb(189, 186, 186);
 }
 main{
    background-color: white;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
 }
 article > h2{
    padding: 10px;
 }
 article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
 }