@charset  "UTF-8";

body{
    background-color: lightseagreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}
h1{
    text-align: center;
    color: lightyellow;
    background-color: aquamarine;
}
h2{
    color: yellow;
}
p{
    color: white;
    text-align: justify;
}

p#link{
    text-align: center;
    font-size: 12px;
}